@charset "utf-8";

/*----- reset ----------------------------------*/

h1{
	margin : 0px;
}

ul{
	padding : 0px;
	margin : 0px;
}

li{
	display : block;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	margin:0px;
	font-family: 맑은 고딕, 고딕, 돋움, Arial, sans-serif !important;
	font-weight: bold !important;
	color : #333333;
}

/*----- abstract style --------------------------*/

.hidden{
	display : none;
}

.title{
	background: url("../resources/main_bar.png") no-repeat 13px center;	
	max-width: none;
	padding-left : 25px;
	margin : 50px 0px 30px 0px;
	font-family: 맑은 고딕, 고딕, 돋움, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;	


}

.more{
	font-size : 12px;
	color: #D8D8D8;
}

.font-import{
	color: #E64C3C;
}

.back-v-import{
	background: #B5342A;
	color : #FFFFFF;
}
.back-import{
	background: #E64C3C;
	color : #FFFFFF;
}
.clicked{
	background : #AFAFAF;
	color :#FFFFFF;
}

.center-info{
	margin-left:37%;
	margin-top: 15px;
}

.yeogi-box{
	background: #E64C3C;
	border-radius: 4px;
	display: box;
	color:white;
	min-width : 50px;
	padding: 4px 6px;
	text-align: center;
}


.space-20px{
	margin-left : 20px;
}

.line{
	width : 1000px;
	height: 1px;
	padding-bottom:30px;
	border-bottom: 1px dashed #AFAFAF;
}
/*----- component style -------------------------*/

.btn,
.button{
	display : inline-block; /*display가 inline이 아니면 너비를 설정할 수 없음*/
	min-width : 71px;
	color : #ffffff;
	text-align: center;
	padding : 3px 8px;
	border-radius: 5px;	
	overflow : hidden;
	/* overriding for input button*/
	border: 0px; /* 원래 버튼 초기화 */
}

.btn-img{
	/* overriding for image button*/
	border-radius : 0px;
	text-indent: -999px;
	overflow : hidden;
}

.btn-search{
	background: url('../images/btn-zoom.png') no-repeat center;
	min-width : 31px;
	height : 25px;
}


.btn-default,
.default-button{
	background : #E64C3C;
	
}

.btn-more{
	min-width : 15px !important;
	background: #AFAFAF;
	margin-left: 86%;
	color: #ffffff;
	padding : 3px 4px !important;
	font-size: 13px;
	margin-top : 3px;
}

.btn-plan,
.plan-button{
	background : #E64C3C;
	height : 30px;
	margin : 250px 0px 0px 40%;
	font-weight: bold;
	font-size: 15px;
	min-width: 150px;
	padding-top: 10px;
	
}

.btn-log,
.plan-log{
	background : #04B45F;
	height : 30px;
	margin-left : 30px;
	font-weight: bold;
	font-size: 15px;
	min-width: 150px;
	padding-top: 10px;
}

.btn-important,
.important-button{
	background : #B5342A;
	
}

.btn-warning,
.warning-button{
	background : #000000;	
}

.btn-cancel,
.cancel-button{
	background : #000000;	
}

.btn-mypage{
	background : #000000;
	width: 70px;
	margin-bottom: 5px !important;
	height: 17px;
	padding-top: 2px;
}


/*----- menu style ------------------------------*/

.hor-menu{
	display : inline-block;
	padding-top : 15px; /* 메뉴 글씨 패딩*/
}

.hor-menu > h1{
	display : none;
}

.hor-menu > ul{

}

.hor-menu > ul > li{
	float : left;

}

.hor-menu.first-pad-none > ul > li:first-child
{
	padding-left: 0px;
	background : none;
}


.ver-menu{	
	width : 210px;
	margin:50px 20px;
	background : #ffffff;
	text-align: center;
	font-weight: bold;
	/*position : fixed;*/
}

.ver-menu h1{
	height : 35px;
	padding-top: 10px;
}
.ver-menu ul{
	
}

.ver-menu li{
	font-weight: bold;
	height : 30px;
	padding-top : 10px;
	border-bottom: 1px solid #D8D8D8;
}

.ver-menu li:hover{
	background : #AFAFAF;
}

.my-info{
	width : 210px;
	height: 300px;
	background: #FFFFFF;
	margin:50px 20px;
	margin-bottom: 0px !important;
	padding-top: 20px;
	padding-top: 20px;
}

.my-info .my-info-write{
	margin: auto;
	margin-top: 10px;
	padding-top: 10px;
	width: 180px;
	height: 100px;
	border-top: 1px solid #D8D8D8;
	padding-left: 30px;
}

.follower{
	width: 120px;
	height: 30px;
	border-radius: 4px;
	background: #AFAFAF;
	margin-left:45px;
	margin-top: 10px;
	text-align: center;
	color:#ffffff;
	padding-top:6px;
}

.virtual > .ver-menu{
	margin-top: 7px;
}

/*----- map -------------------------------------*/

 #map {
        height: auto;
        width: 300px;
      }
      /* Optional: Makes the sample page fill the window. */
 
/*----- header ----------------------------------*/

#header{
	height : 70px;
	padding-top : 10px;
}

#header .root-container {
	height :70px;
}

#header #logo {
	width : 200px;
	float : left;
}

.main-menu{
	font-family : "맑은 고딕","고딕","sans-serif";
	font-size : 20px;
	font-weight : bold;
	color : #333333;
	padding-bottom: 20px;
}

.main-menu > ul > li{
	padding-left : 24px;
	background: url("../resources/header_bar.png") no-repeat 13px center;
	background-size: 1px;	
}

.number-change{
	margin-left:43%;
	margin-top: 15px;
}
/*----- member-menu ----------------------------------*/


.member-menu{
	font-family : "맑은 고딕","고딕","sans-serif";
	font-size : 13px;
	font-weight : bold;
	color : #6E6E6E;
	margin-left: 40%;
}

.member-menu > ul > li{
	padding-left : 9px;
	background: url("../images/bg-member-menu-sp.png") no-repeat 4px center;	
}

/*----- visual ----------------------------------*/

#visual{
	min-width :1320px;
	height : 350px;
	background: #212121; 
	border-top : 5px solid #E64C3C;
}

.pro-pic {
	width:230px;
  	height:230px;
  	background-color:#D8D8D8;
  	border-radius: 50%;
  	margin-left : 40%;
  	margin-top : 50px;
}

.small-pro-pic {
	width:150px;
  	height:150px;
  	background-color:#D8D8D8;
  	border-radius: 50%;
  	margin: auto;
  	display:flex;
}

#body{
	min-height : 300px;
	border-top: 10px solid #848484;
	margin-top : 1px;
}



#footer{
	height : 150px;
	background: #212121;
	color : #D8D8D8;
	padding-top : 15px;
	font-weight: normal !important;
	
}

#footer .root-container{
		margin-left : 450px;
}


#footer #footer_logo{
	background:url("../resources/footer_logo.png") no-repeat center;
	background-size : 150px;
	width : 250px;
	height : 100px;
	float :left;
}

#footer #footer_logo #footer_bar{
	width :  450px;
	height : 100px;
	background :url("../resources/footer_bar.png") repeat-y center ;
	float : left;
}


.root-container{
	height: 100%;
	width: 1320px;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;

}

#body >.root-container{
	display:flex;
	flex-direction: row;
	
}

#aside{
	background: url("../images/bg-aside-title.png") no-repeat left top;
	min-height: inherit;
	min-width: 250px;
	/* float: left; */
	background-color: #E6E6E6;
}


.clear-fix::after {
	display: block;
	clear: both;
	height: 0px;
	overflow: hidden;
}

/* ----------------------------------------------- */

#main{
	padding : 0px 0px 75px 40px;
	box-sizing: border-box;'
	min-height: inherit;
	min-width: 1070px;
	/*background : BLUE;*/
}

#main .travel-log{
	height: 300px;
	width: 500px;
	
	margin:0px 10px 20px 10px;
	font-weight: bold;
	color: #ffffff;
}
.barcel{
	background: url("../resources/500300/barcel.jpg");

}

.paris{
	background: url("../resources/500300/paris.jpg") center;
}

.moscbar{
	background: url("../resources/500300/russia.jpg") center;
}

.statt{
	background: url("../resources/500300/statt.jpg") center;
}

.uk{
	background: url("../resources/500300/uk.jpg") center;
}

.german{
	background: url("../resources/500300/germany.jpg") center;
}

.map{
	background: url("../resources/map.jpg");
	background-size: 300px;
}

#main .travel-cont {
	display: flex;
	margin-top : 25px;
}

.travel-cont .travel-info{
	height: 100px;
	background-color: rgba(33,33,33,0.8);
	margin-top : 200px;
	color : #FFFFFF;
	font-weight: normal !important;
	padding-left : 10px;
}

.travel-cont .travel-plan{
	width : 264px;
	height: 300px;
	margin-left : 10px;
}

.travel-name{
	padding-top: 7px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	padding-left : 5px;
}
.date{
	padding-top : 3px;
}
.type{
	padding-top : 3px;
}
.small-loca{
	background: url("../resources/location.png") no-repeat left ;
	background-size: 20px;
	width:20px;
	height:20px;
	float : left;
	margin-right: 5px;
}

.small-cal{
	background: url("../resources/cal.png") no-repeat left ;
	background-size: 20px;
	width:20px;
	height:20px;
	float : left;
	margin-right: 5px;
}


/* ----------------------------------------------- */

#main .best-cont{
	height : 300px;
	width : 1320px;
	background : #D8D8D8;
	margin : auto;
}

.country{
	width : 264px;
	height: 300px;
	border : 1px solid white;
	background: #E64C3C;
	font-size: 20px;
	text-align: center;
	color : #FFFFFF;
	display : table-cell;
	vertical-align: middle;
	
}

.country_best{
	font-size : 30px;
	background: url("../resources/location.png") #2E2E2E no-repeat center 35px;
	background-size: 50px;
	text-align: center;
}

/* ------------------------------------------------- */

.friends-list{
	width: 170px;
	height: 250px;
	margin-left: 35px;
}

.friends-list:first-child{
	margin-left: 0px;
}

.friends-list-info{
	margin-top:5px;
	padding: 3px 0px 3px 0px;
	width:170px;
	height: 50px;
	text-align: center;
	border-radius: 5px;
	background: #D8D8D8;
	padding-top:5px;
}
.friends-req{
	margin-top:0px;
	padding: 3px 0px 3px 0px;
	width:170px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	background: #E64C3C;
	color: white;
	display: table-cell;
	vertical-align: middle;
	
}

.friends-answer{
	width: 10px;
	height: 20px;
	background: #ffffff;
	border-radius: 5px;
	color: #000000;
	padding: 1px 5px;

}

.title-box{
	width:300px;
	margin-top:15px;
	margin-bottom:0px;
	font-size: 20px;
	font-family: 맑은 고딕, HY견고딕, sans-serif;
	border-radius: 5px;
}

.join,
.login{
	width: 680px;
	height: 350px;
	/*background: green;*/
	margin-top:0px;
	padding-top: 20px;
	margin-bottom: 50px;

}

.join-img{
	width:200px;
	height:inherit;
}

.join-label{
	width: 500px;
	height:300px;
	float: left;
	padding-left: 150px;
}

.join-btn{
	margin-left:220px;
}

fieldset{
	margin-top: 20px;
	font-family: 굴림 !important;
	border : 2px solid #E64C3C;
	display : table-cell;
	vertical-align: middle;
	padding-left: 50px;
	color : #313131;
	height: 150px;
	padding-top: 80px;
}

input{
	border: 1px solid #AFAFAF;
}