@charset "UTF-8";

/*--------------------------- reset ----------------------------------*/
h1 {
	margin: 0px;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	display: block;
}

a { 
    
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0px;
}

table {
	text-align: center;
	border-spacing: 0px;
	table-layout: fixed; /* 테이블 와따가따 거리는거 고정 */
}

h1, h2, h3, h4, h5, h6 {
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	position: absolute;
}

/*------------------------메뉴 스탙-------------------------------------*/
.hor-menu {
	display: inline-block;
	padding-top: 15px; /* 메뉴 글씨 패딩*/
}

.hor-menu>h1 {
	display: none;
}

.hor-menu>ul>li {
	float: left;
}

.hor-menu.first-pad-none>ul>li:first-child {
	padding-left: 0px;
	background: none;
}
/*------------------------멤버메뉴-------------------------------------*/
.member-menu {
	font-family: "맑은 고딕", "고딕", "sans-serif";
	font-size: 13px;
	font-weight: bold;
	color: #6E6E6E;
	float: right;
}

.member-menu>ul>li {
	padding-left: 9px;
}
/*------------------------btn-------------------------------------*/
.btn, .button {
	display: inline-block; /*display가 inline이 아니면 너비를 설정할 수 없음*/
	min-width: 71px;
	color: #ffffff;
	text-align: center;
	padding: 3px 8px;
	border-radius: 5px;
	overflow: hidden;
	/* overriding for input button*/
	border: 0px; /* 원래 버튼 초기화 */
}

.btn-mypage {
	background: #000000;
	width: 70px;
	margin-bottom: 5px !important;
	height: 17px;
	padding-top: 2px;
}

/* -------------------------------- 헤더 ----------------------------- */
#header {
	padding-top: 10px;
	height: 70px;
}

#logo {
	width: 200px;
	float: left;
}

.root-container {
	height: 100%;
	width: 1680px;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;
}
/* ------------------------------------------------------------------ */
.main-menu {
	font-family: "맑은 고딕", "고딕", "sans-serif";
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 20px;
}

.main-menu>ul>li {
	padding-left: 24px;
	background: url("../resources/header_bar.png") no-repeat 13px center;
	background-size: 2px;
}

/* --------------------------------- 바디 ----------------------------- */
#fullscreen {
	border-top: 5px solid #ff5959;
	margin: 0 auto;
	width: 1680px;
	height: 880px;
	box-sizing: border-box;
}

/* --------------------------------- 메뉴 플레이트 ----------------------------- */
#menu-plate {
	background: #cacaca;
	width: 330px;
	height: inherit;
	float: left;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	
}

#tab {
	background: #cacaca;
	width: 90px;
	height: 790px;
	float: left;
	border: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	box-sizing: border-box;
}

#save-trip {
	background: url("../images/save.png") no-repeat, black;
	background-size: 50%;
	width: 90px;
	height: 90px;
	float: left;
	border-left: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	color: white;
	text-align: center;
	background-position: 22px 10px;
	padding-top: 60px;
}

#trip-name {
	background: #cacaca;
	width: 240px;
	height: 80px;
	float: left;
}

#cost-option {
	background: #efefef;
	width: 240px;
	height: 710px;
	float: left;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	overflow-y: scroll;
}

/* --------------------------------- 메인 ----------------------------- */
#main {
	background: #b9b9dd;
	height: 880px;
	width: 1350px;
	float: left;
}

#map {
	background: url("../images/google-map.png") no-repeat center;
	background-size: cover;
	height: 650px;
	border: 1px solid black;
	box-sizing: border-box;
	display: flex;
	flex-flow: column wrap-reverse;
}

#add-friend {
	background: url("../images/add-friends.png") no-repeat center;
	background-size:contain;
	background-position:right;
	height: 80px;
	width: 80px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

/*#add-friend:hover {
    width: 300px;
    transition-duration:0.8s;
}

#add-friend>ul>li{
    opacity: 0;
}

#add-friend>ul>li:hover{
    opacity: 1;
}*/
	


#check-map {
	opacity: .2;
	border: 1px solid black;
	background: #ababab;
	height: 150px;
	width: 80px;
	margin: 180px 10px 0px 0px;
	border-radius: 80px;
}


#check-map:hover {
	opacity: 1;
	font-size: x-large;
}

#time-table {
	background: #ffffa4;
	height: 230px;
	width: 1350px;;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	box-sizing: border-box;
	float: left;
}

#add-day {
	background: #7c7c7c;
	width: 200px;
	height: 230px;
	float: left;
}

#schedule {
	background: #fafafa;
	width: 800px;
	height: 230px;
	float: left;
	overflow-y: scroll;
}
#weather{
 background: #ffffff;
			width: 348px;
			height: 230px;
			float:left;
			overflow-y: scroll;
}

/* ----------속메뉴------------------------------- */
#name {
	height: 50px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	box-sizing: border-box;
}

#period {
	height: 30px;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}





/* -------------------------add-day---------- */
.left-direct {
	background: url("../images/left-arrow.png") no-repeat center;
	background-size: cover;
	width: 40px;
	height: 40px;
	float: left;
}

.now {
	background: #f9f9f9;
	width: 120px;
	height: 40px;
	float: left;
	text-align: center;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	box-sizing: border-box;
	font-size: x-large;
}

.right-direct {
	background: url("../images/right-arrow.png") no-repeat center;
	background-size: cover;
	width: 40px;
	height: 40px;
	float: left;
}

.year {
	text-align: center;
	line-height: 30px;
	background: white;
	border: 5px solid #ff7b7b;
	box-sizing: border-box;
	font-stretch: wider;
	width: 200px;
	height: 40px;
	clear: both;
	float: left;
}

.plus {
	margin-left: 20px;
	border-radius: 20px;
	margin-bottom: 5px;
	color: white;
	background: #e64c3c;
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	width: 160px;
	height: 40px;
	float: left;
	padding-top: 7px;
}

.minus {
	margin-left: 20px;
	border-radius: 20px;
	margin-bottom: 5px;
	color: white;
	background: black;
	padding-top: 7px;
	box-sizing: border-box;
	text-align: center;
	width: 160px;
	height: 40px;
	float: left;
}

.all-minus {
	margin-left: 20px;
	border-radius: 20px;
	color: white;
	background: black;
	padding-top: 7px;
	box-sizing: border-box;
	text-align: center;
	width: 160px;
	height: 40px;
	float: left;
}


/* ---------------------------------------타임테이블 & 메모 ---------------------------- */
.memo-pad {
	background: url("../images/memo-pad.png") no-repeat center;
	background-size: contain;
}

.memo-pad a{
    display: block;
    width: 100%;
    height: 100%;
}

table td:nth-child(2) a{
    opacity: 0;
}

table td:nth-child(2) a:hover{
    opacity: 1;
}

#schedule td{
    
	height: 40px;
	text-align: center;
}

/* ------------------------------------------맵---------------------------------------- */
.up {
	width: inherit;
	min-height: 50px;
	background: url("../images/direction-up.png") no-repeat center;
	background-size: 50%;
	opacity: 0.5;
}

.center {
	width: 80px;
	height: 50px;
	line-height: 40px;
	display: block;
	text-align: center;
	background: #ffdd00;
	/* width:inherit;
	height:50px;
	line-height: 100px; */
}

.down {
	width: inherit;
	min-height: 50px;
	background: url("../images/direction-down.png") no-repeat center;
	background-size: 50%;
	opacity: 0.5;
}

/* ------------------------------ 메뉴판 ------------------------------------- */
.search {
	width: 90px;
	height: 90px;
	background: url("../images/search.png") no-repeat center;
	background-size: 60%;
	text-align: center;
	line-height: 160px;
	background-position: 22px 10px;
	margin-bottom: 10px;
}

.basket {
	width: 90px;
	height: 90px;
	background: url("../images/shopping.png") no-repeat center;
	background-size: 60%;
	text-align: center;
	background-position: 22px 10px;
	line-height: 160px;
	display: block;
	margin-bottom: 10px;
}

.cost {
	width: 90px;
	height: 90px;
	background: url("../images/korea-won.png") no-repeat center;
	background-size: 60%;
	text-align: center;
	background-position: 22px 10px;
	line-height: 140px;
	display: block;
	margin-bottom: 10px;
	border-top:1px soild black;
	border-bottom:1px soild black;
}

.calendar {
	width: 90px;
	height: 90px;
	background: url("../images/calendar.png") no-repeat center,#efefef;
	background-size: 60%;
	text-align: center;
	background-position: 22px 10px;
	line-height: 160px;
	display: block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


/* -------------------------- 버튼 ------------------------- */
/* ---------------------------스크롤바-------------------------------------------- */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
	{
	display: block;
	width: 12px;
	height: 12px;
	background: url() rgba(0, 0, 0, .05);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .05);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .1);
}

/* -------------------------- weather / alert ------------------------- */
#weather .box1 {
	border: 5px solid #ff7b7b;
	box-sizing: border-box;
	background: white;
	width: 335px;
	height: 50px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	position: absolute;
}

#weather .box2 {
	margin-top:50px;
	background: url("../images/weather.png") no-repeat center;
	background-size: 70%;
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 160px;
	background-position: 15px 10px;
	float: left;
	border-bottom: 5px solid #ff7b7b;
}

#weather .box3 {
	margin-top:50px;
	width: 240px;
	height: 90px;
	float: right;
	text-align: center;
	line-height: 40px;
	border-bottom: 5px solid #ff7b7b;
}

#weather .box4 {
	margin-top: 15px;
	float: right;
	background: url("../images/clothes.png") no-repeat center;
	background-size: 70%;
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 160px;
	background-position: 15px 10px;
	clear: both;
	border-bottom: 5px solid #ff7b7b;
}

#weather .box5 {
	width: auto;
	height: auto;
	line-height: 30px;
	border-bottom: 5px solid #ff7b7b;
	clear: both;
}

#weather .box6 {
	margin-top: 15px;
	float: left;
	background: url("../images/alert.png") no-repeat center;
	background-size: 70%;
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 160px;
	background-position: 15px 10px;
	clear: both;
	border-bottom: 5px solid #ff7b7b;;
}

#weather .box7 {
	width: auto;
	height: auto;
	line-height: 30px;
	border-bottom: 5px solid #ff7b7b;
	clear: both;
}

/*-----------------------------------------------------*/

.total-day .b1{
	margin:10px;
	width: 70px;
	height: 40px;
	background: white;
	border: 5px solid gray;
	box-sizing: border-box;
	padding: 5px;
    box-shadow: 3px 3px 3px #111111;
}

.total-day .b2{
 	
 	margin-left:10px;
 	margin-bottom:30px;
	width: 215px;
	height: auto;
	background: white;
	border: 5px solid gray;
	box-sizing: border-box;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: medium;
	font-weight: bold;
	text-align: center;
    align-content:flex-start;
    box-shadow: 3px 3px 3px #111111;
	
}

.when{
	width: 50px;
	height: 30px;
	border: 2px solid #ceceff;
	box-sizing: border-box;
	border-radius: 8px;
	background: #7575ff;
	color: white;
}

.where{
	width: 125px;
	height: 30px;
	color:#8a8aff;	
}

.count-place{
    width: 10px;
    height: 0px;
    border: 10px solid #ceceff;
    border-radius: 0 0 0 200px; 
    line-height: 0;
    
}

.picture{
    background-size:180px 100px;
    background-position: center;
	width: 190px;
	height: 110px;
	border: 2px solid #8a8aff;
    margin:2px 0px 0px 5px;
    line-height: 1;
}

.picture img{
	width: 190px;
	height: 110px;
}
.write{
    width: 190px;
	height: auto;
    border: 2px solid gray;
	box-sizing: border-box;
    margin:5px auto;
    padding: 3px;
    font-size: 12px;
    text-align: left;
    text-indent: 6px;
    font-weight: 100;
    overflow: 
}

.write img{
    margin-right: 5px;
}
