@charset "UTF-8";
/*----------------------- reset ------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #333333;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.clear-fix:after{
	content: '';
	font-size: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

/*----------------------- header ------------------------*/
header{
	height: 70px;
}

header a{
	height: 20px;
	margin: 25px 0 5px 30px;
	padding: 10px;
	font-weight: bold;
	float: left;
}

header a:hover{
	text-decoration: underline;
}

header nav{
	
}

.root-container{
	width: 1200px;
	height: inherit;
	margin: 0 auto;
}

.main-menu{
	width: 600px;
	float: left;
}

.login-menu{
	width: 250px;
	float: right;
}

#logo{
	width:117px;
	height: 60px;
	margin: 5px 0;
	padding: 0;
}


/*----------------------- left-main ------------------------*/
main{
	height: 700px;
	border-top: 3px solid #cccccc;
	background-color: #dddddd;
}

.left-main{
	width: 300px;
	height: 700px;
	float: left;
	background-color: #ffffff;
}

.btn-container{
	height: 110px;
}

.lock-add-btn{
	margin: 5px 15px;
}

#lock{
	float: left;
	width: 150px;
	height: 40px;
	margin: 5px;
	background-color: orange;
}

.large-btn{
	float: right;
	width: 100px;
	padding: 4px 0;
	margin: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #cccccc;
}

.console-btn{
	margin: 0 15px;
}

.console-btn li{
	display: inline;
}

.console-btn a{
	float: left;
	width: 80px;
	padding: 12px 0;
	margin: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #cccccc;
}

.spending-container{
	height: 50px;
}

#spending-txt{
	display: inline-block;
	float: left;
	padding: 12px 5px;
	margin: 5px 0 5px 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #cccccc;
}

.spending-box{
	display: inline-block;
	float: right;
	padding: 12px 5px;
	margin: 5px 20px 5px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #cccccc;
}

.day-btn-container{
	height: 50px;
}

#left-arrow{
	float: left;
	width: 25px;
	height: 40px;
	margin: 5px 5px 5px 20px;
	background-color: #cccccc;
}

#right-arrow{
	float: right;
	width: 25px;
	height: 40px;
	margin: 5px 20px 5px 5px;
	background-color: #cccccc;
}

.day-btn{
	float: left;
}

.day-btn li{
	display: inline-block;
}

.day-btn a{
	float: left;
	width: 62px;
	padding: 12px 0;
	margin: 5px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #cccccc;
	background-color: #222222;
}

.place-container{
	height: 490px;
}

.card-frame{
	width: 260px;
	margin: 8px auto;
	border: 1px solid gray;
}

.image-frame{
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 5px 5px 5px 15px;
	float: left;
	background-color: orange;
}

.image-frame img{
	margin: 5px;
}

.place-frame{
	display: inline-block;
	width: 160px;
	height: 60px;
	margin: 5px 15px 5px 5px;
	float:right;
	background-color: orange;
}

.place-frame p{
	display: block;
	margin: 5px;
	padding: 7px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.place-frame a{
	display: inline-block;
	float: right;
	height: 20px;
	font-weight: bold;
	margin-right: 10px;
	background-color: #cccccc;
}


.place-add{
	display: inline-block;
	width: 140px;
	margin: 5px 60px
}

.place-add img{
	float: left;
	width: 60px;
	background-color: orange;
}

.place-add a{
	float: right;
	width: 60px;
	text-align: center;
	font-weight: bold;
	background-color: #cccccc;
}


/*----------------------- right-main ------------------------*/
.right-main{
	width: 857px;
	height: 660px;
	float: right;
	background-color: #ffffff;
	border-left: 3px solid #cccccc;
	padding: 20px;
	overflow: scroll;
}

.tour-detail-info{
	
}

.tour-intro{
	
}

.form-control{
	
}

.tour-brief{
	
}

.tour-edit-info{
	
}

.day-step-theme{
	
}

.days{
	
}

.date-start-picker{
	
}

.hasDatepicker{
	
}

.nations{
	
}

.themes{
	
}

.view-container{
	
}

.view-frame-box{
	
}

.view-frame{
	
}

.view-info{
	
}

/*----------------------- footer ------------------------*/
footer{
	border-top: 3px solid #cccccc;
	height: 150px;
}





