@charset "UTF-8";

/* -----reset-------------------------------------------------------- */
body{
	margin: 0px;
}
h1{
	display: block;
	margin: 0px;
}
ul{
	padding: 0px;
	margin: 0px;
}
li{
	display: block;
}
a{
	text-decoration: none;
	color:inherit;
}

/* ------abstract style---------------------------------------------------------- */
.hor-menu{
	display: inline-block;
	padding-top: 15px;
}

.hor-menu > h1{
	display: none;
}

.hor-menu > ul{
	overflow: auto; 
 
}
.hor-menu > ul > li{
	float: left;
	
}

/* ---------------------------------------------------------------- */

/* -----header------------------------------------------------------- */
#header{
	height: 70px;
	padding-top: 10px;
}
#header>.root-container{
	height: 70px;
}
#header #logo{
	float: left;
	width: 200px;
}
#header #logo>#logo-img{
	height: 65px;;
	overflow: auto;
}
#header>.root-container .hor-menu{
	padding-bottom: 20px;
	font-family:"맑은고딕","고딕",sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;

}
#header>.root-container .main-menu li{
	background: url("../resources/header_bar.png")no-repeat 13px center;
	padding-left: 24px;
	background-size: 1px;
}
#header>.root-container .main-menu li:first-child{
	background: none;
	padding-left: 0px;
}
#header>.root-container .member-menu{
	float: right;
	padding-right: 25px;
}
#header>.root-container .member-menu li{
	padding-left: 24px;
	
}


/* ---------------------------------------------------------------- */

/* -----title-------------------------------------------------------- */
/* .tit{
	position: relative;
	width : 1320px;
	margin: 0px auto;
	text-align: center;
	display: block;
	
} */
#title{
	height: 280px;
	border-top: 5px solid #E64C3C;
}
#title>#title-box{
	display: block;
}
#title #title-img{
	z-index: 1;
}
#title #title-img>#img{
	height: 280px;
	width: 100%;
	position: absolute;
}
#title .title-name{
	position: relative;
    width: 1320px;
    min-height: 130px;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
}

#title .title-name>a{
	/* z-index: 1; */
    position: absolute;
    width: 1320px;
    line-height: 35px;
    overflow: hidden;
    display: block;
    
    padding-top: 70px;
    font-family: 맑은고딕,HY고딕,sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    
}


#title .title-desc{
	position: relative;
	width : 1320px;
	margin: 0px auto;
	text-align: center;
	display: block;
	
}
#title .title-desc>span{
	padding-left: 5px;
	text-align: center;
	display: inline;
	
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

#title .post-cnt{
	position: relative;
	width : 1320px;
	height: 30px;
	margin: 30px auto;
	text-align: center;
}
.post-cnt ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.post-cnt li{
	min-width: 80px;
	height: 30px;
	/* display: flex;
	align-items: center; */
	vertical-align: middle;
}
#title .post-cnt .hit-cnt{
	background: url("../images/hit.png")no-repeat left;
}
#title .post-cnt .scrap-cnt{
	background: url("../images/scrap-cnt.png")no-repeat left;
}
#title .post-cnt .comment-cnt{
	background: url("../images/comment.png")no-repeat left;
}

#title .post-cnt span{
	height: 30px;
	text-align: left;
	display: inline;
	vertical-align: middle;
	
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* -----body--------------------------------------------------------- */
#body{
	min-height: 500px;
	border-top: 10px solid #848484;
	margin-top: 1px;
}

#body>.root-container { 
	display: flex;
	flex-direction: row;
}
/* -----aside-------------------------------------------------------- */
#aside{
	min-height: 600px;
	width: 300px;
	background-color: #E6E6E6;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#aside>.user-box{
	height: 295px;
	width: 255px;
	background-color: #ffffff;
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	cursor: pointer;
}
.user-info span:hover{
	text-decoration: underline;
}
#aside>.user-box>#uer-img-box{
	width: 255px;
	height: 160px;
	display: block;
}
#aside #user-img-box>#user-img{
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	margin-top: 15px;
	border: 1px solid #D8D8D8;
}
#aside .user-name{
	margin-top: 10px;
	width: 255px;
	height: 30px;
	display: block;
	text-align: center;
}
#aside .user-name>span{	
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#aside .user-info{
	margin-top: 10px;
	width: 255px;
	height: 30px;
	display: block;
	text-align: center;
}

#aside .user-info>span{
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 13px;
    padding-left: 1px;
}

#aside .user-info>.post-count{
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 13px;
    color: #E64C3C;
}

#aside .scrap-box{
	height: 40px;
	/* margin-top: 8px; */
	text-align: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

#aside .scrap-box>#btn-scrap{
	padding: 5px 5px;
	display: block;
}
#aside .scrap-box>span:hover{
	color: #E64C3C;
}
#aside .scrap-box>span{
	height: 40px;
	padding-top: 8px;
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 15px;
    color: #AFAFAF;
}
#aside .summary-box{
	margin-top: 5px;
	cursor: pointer;
}
#aside .summary-box>ul{
	width: 255px;
	height: 153px;
	background-color: #ffffff;
	border-radius: 10px;
	
}
#aside .summary-box>ul>li{
	display: block;
	height: 50px;
	border-bottom: 1px solid #E6E6E6;
	font-size: 15px;
    color: #AFAFAF;
	
}
#aside .summary-box>ul>li>.summary-btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 250px;
	margin-left: 5px;
}
#aside .summary-box>ul>li>.trv-theme{
	background: url("../images/trv-theme2.png") no-repeat left, 
	 url("../images/btn-info-more.png") no-repeat right;
}

#aside .summary-box>ul>li>.trv-theme:hover{
	background: url("../images/trv-theme-hovor.png") no-repeat left,
	 url("../images/btn.info-more-hover.png") no-repeat right;
	color: #E64C3C;
}
#aside .summary-box>ul>li>.trv-spot{
	background: url("../images/trv-spot.png") no-repeat left,
	 url("../images/btn-info-more.png") no-repeat right;
}
#aside .summary-box>ul>li>.trv-spot:hover{
	background: url("../images/trv-spot-hover.png") no-repeat left,
	 url("../images/btn.info-more-hover.png") no-repeat right;
	color: #E64C3C;
}
#aside .summary-box>ul>li>.trv-budget{
	background: url("../images/trv-budget.png") no-repeat left,
	 url("../images/btn-info-more.png") no-repeat right;	
}
#aside .summary-box>ul>li>.trv-budget:hover{
	background: url("../images/trv-budget-hover.png") no-repeat left,
	 url("../images/btn.info-more-hover.png") no-repeat right;
	color: #E64C3C;
}

#aside .summary-box>ul>li>.summary-btn>.summary-list{
	width: 81px;
	margin-left: 20px;
}

#aside .summary-box>ul>li .summary-info{
	padding: 0 15px 0 0;
    margin: 0 1px 0 0;
}

/* -----main-------------------------------------------------------- */
#main{
	box-sizing: border-box;
	min-height: inherit;
	width: 1020px;
	/* background-color: #AFAFAF; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#main>.story-intro-box{
	display: flex;
    justify-content: center;
	width: 945px;
	/* background-color: #000000; */
	margin-top:10px;
	display: block;
	border-radius: 10px;
}
#main>.story-intro-box>.story-strapline{
	width: 933px;
    text-align: left;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    padding: 5px 5px;
}
#main>.story-intro-box>.story-strapline>span{	
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
#main>.story-intro-box>.story-intro{
	width: 933px;
    text-align: left;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
	margin-top: 5px;
	padding: 5px 5px;
}
#main>.story-intro-box>.story-intro>span{
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 16px;
    color: #333333;
}
#main>.day-spot-box{
	width: 945px;
	margin-top:10px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#main .day{
	width: 150px;
}
#main .day>strong{
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 35px;
    font-weight: bold;
}
#main .spot-couse{
	width: 795px;
	/* display: flex;
	justify-content: flex-start;
	flex-wrap: wrap; */
}

#main .spot-couse div{
	width:113px;
	height: 80px;
	text-align: center;
}
#main .spot-couse .couse-start{
	height: 70px;
	background: url("../images/couse-s.png") no-repeat;
	float: left;
}
#main .spot-couse .couse-left{
	height: 70px;
	background: url("../images/couse-c.png") no-repeat;
	float: left;
}
#main .spot-couse .couse-left-p{
	height: 70px;
	background: url("../images/couse-p.png") no-repeat;
	float: left;
	
}
#main .spot-couse .couse-left-d{
	height: 70px;
	background: url("../images/couse-d.png") no-repeat right;
	float: left;
	
}
#main .spot-couse .couse-right{
	height: 70px;
	background: url("../images/couse-c.png") no-repeat;
	float: right;
}
#main .spot-couse .couse-right-b{
	height: 70px;
	background: url("../images/couse-b.png") no-repeat left;
	float: right;
	padding-right: 4px;
	
}
#main .spot-couse .couse-right-q{
	height: 70px;
	background: url("../images/couse-q.png") no-repeat;
	float: right;
	
}
#main .spot-couse .couse-end{
	height: 70px;
	background: url("../images/couse-e.png") no-repeat left;
	float: left;
	/* padding-right: 4px; */
	
}
#main>.day-spot-box .couse-spot{
	background: #ffffff;
	font-family:"맑은고딕","고딕",sans-serif;
    font-size: 12px;
    color: #848484;
    font-weight: bold;
    width: 100px;
    display: inline-block;
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}
.spot-box{
	width: 945px;
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}
.spot-bar{
	width : 20px;
	height : 27px;
	background :url("../resources/main_bar.png") repeat-y left;
}
.spot{
	width: 915px;
}
.spot-name{
	font-family: 맑은고딕,HY고딕,sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.spot-post-box{
	margin-left: 20px;
	margin-top: 15px;
	width: 925px;
}
.spot-post-content{
	font-family: 맑은고딕,HY고딕,sans-serif;
    font-size: 15px;
}
.spot-post-box #post-img{
	width: 100%;
	margin-top: 5px;
}

.post-info-box{
	width: 945px;
	height: 70px;
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	margin-top: 10px;	
}
.post-info-box>.post-info{
	width: 925px;
	height: 17px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}
.post-info-box>.post-info>span{
	/* background-size: 1px; */
	float: left;
	display: inline-block;
	height: 17px;
	padding: 0px 10px 0px 10px;
	font-family: 맑은고딕,HY고딕,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #848484;
}
.post-info-box>.post-info>.post-info-list{
	border-left: 1px solid #D8D8D8;
}
.post-info-box>.post-info>.post-info-start{
	padding-left: 30px;
}
.post-info-box>.post-spot{
	background :url("../images/spot16.png") no-repeat left;
}
.post-info-box>.post-expense{
	background :url("../images/won16.png") no-repeat left;
}
.post-info-box>.post-tag{
	background :url("../images/tag16.png") no-repeat left;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 880px;
	height: 420px;
	overflow: auto;
}
.day-total-title{
	width: 880px;
	height: 60px;
	border-bottom: 1px solid #AFAFAF;
    text-align: center;
	/* display:block; */
	font-family: 맑은고딕,HY고딕,sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    
}

.total-box{		
	width: 880px;
	height: 350px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* align-content: center; */ 
	/* justify-content: center; */
	overflow: auto;
	
}
.day-total-box{
	width: 250px;
	min-height: 60px;
	border: 1px solid #AFAFAF;
	margin: 20px 15px;	
	border-radius: 5px;	
}
.day-spot-title{
	width: 240px;
	height: 40px;
	font-size: 15px;
    font-weight: bold;
    color: #E64C3C;
    display: flex;
    justify-content : space-between;
    align-items: center;
    padding: 0px 5px 0px 5px;
    border-bottom: 1px solid #AFAFAF;
   
}
.day-spot-list{
	width: 240px;
	/* min-height: 30px; */
	font-size: 13px;
	padding: 8px 5px;
}
.day-spot-list>p{
	width: 240px;
	display: block;
	margin-top: 5px;
}
.expense-list{
	margin-top: 5px;
	margin-left: 5px;
}
.expense-list>tr{
	width: 880px;
	height: 50px;	
}
.expense-list td{
	width: 120px;
	height: 50px;
	text-align: center;
	border: 1px solid #AFAFAF;
	color: #888a99;
	font-size: 18px;
	font-weight: bold;
}
.expense-list .expense{
	width: 720px;
	height: 50px;
	text-align: right;
	padding-right: 10px;
	color: #E64C3C;
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 25px;
	font-weight: bold;
	width: 18px;
	height: 33px;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.st-comment-box{
	width: 960px;
	min-height: 50px;
	border-top: 1px solid #848484;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.st-comment-box>.comment-cnt-box{
	width: 930px;
	height: 50px;
	background: url("../images/comment16.png") no-repeat left;
	/* justify-content: center; */
	display: flex;
	align-items: center;
}
.st-comment-box>.comment-cnt-box>span{
	/* text-align: center; */
	font-family: 맑은고딕,HY고딕,sans-serif;
	color: #848484;
	font-size: 15px;
	display:block;
	width:30px;
	/* height: 50px; */
	padding-left: 3px;
}
.st-comment-box>.comment-cnt-box .comment{
	padding-left: 20px;
}
.st-comment-write-box{
	width: 960px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.comment-list-box,
.st-comment-write-box>.comment-write-box{
	width: 930px;
	min-height: 55px;
	border-top: 1px solid #AFAFAF;
	display: flex;
	justify-content: space-between;
	/* position: relative; */
	/* overflow: hidden; */
}
.st-comment-write-box>.comment-write-box>.new-comment{
	display: block;
	width: 750px;
    resize: vertical;
    min-height: 20px;
    border: 1px solid #eee;
    background: #f6f6f6;
    border-radius: 3px;
    overflow: auto;
    margin: 10px 5px;
    padding-top : 12px;
    font-family: 맑은고딕,HY고딕,sans-serif;
	font-size: 13px;
	
}
.comment-writer-img{
	width: 40px;
	height: 40px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	margin-top: 10px;
	border: 1px solid #D8D8D8;
}
.st-comment-write-box>.comment-write-box>.comment-reg{
	width: 58px;
	height:38px;
	font-family: 맑은고딕,HY고딕,sans-serif;
	font-size: 15px;
	font-weight: bold;
	/* background:#E64C3C; */
	color: #E64C3C;
	border-radius: 5px;
	border: 1px solid #E64C3C;
	text-align: center; 
	margin: 10px 0px 10px 10px;
	/* padding-top: 10px; */
	vertical-align: middle;
}
.st-comment-write-box>.comment-write-box>.unlock{
	width: 40px;
	height:40px;
	background: url("../images/unlock24.png") no-repeat center;
	margin: 10px 0px;

}
.st-comment-write-box>.comment-write-box>.lock{
	width: 40px;
	height:40px;
	background: url("../images/lock24.png") no-repeat center;
	margin: 10px 0px;
}
.comment-list{
	margin-left: 10px;
	/* display: flex; */
}
.comment-list>.comment-writer-img{
	float: left;
}
.comment-contents-box{
	width: 850px;
	min-height: 55px;
	margin: 10px 5px 10px 50px;	
}
.comment-writer-box{
	width: 850px;
	height: 22px;
	/* margin: 10px 5px; */
	float: left;
}
.id-date{
	width: 500px;
	float: left;
}
.comment-writer-id{
	font-weight: bold;
	font-size: 16px!important;
	color: #000000;
}
.comment-writer-date{
	font-size: 13px;
	margin-left: 5px;
	color: #333333;
}
.reply-button{
	width: 50px;
	background: url("../images/cmt-arrow.png") no-repeat center;
	float: right;
	border: none;	
	margin-top: 5px;
}
.reply-button:hover{
	background: url("../images/cmt-arrow-hover.png") no-repeat center;
}
.comment-content{
	width: 800px;
	min-height: 30px;
	font-size: 15px;
	color: #333333;
}
.side-bar{
	width: 50px;
	min-height:50px;
	border-left:1px solid #212121;
	position: fixed;
	right: 14%;
	z-index:999;
	/* margin-right: -615px; */
	visibility: visible;
	margin-top: 10px;
}
.side-bar li{
	color: #212121;
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	
}

/* -----footer--------------------------------------------------------- */
#footer{
	height : 100px;
	background: #212121;
	color : #D8D8D8;
	font-size: 12px;
}
#footer>.root-container{
	display: flex;
	/* justify-content: center; */
	align-items: center;
	
}
#footer #footer_logo{
	background: url("../resources/footer_logo.png") no-repeat center;
	background-size : 150px;
	width : 249px;
	height : 90px;
}
#footer #footer_bar{
	width :  100px;
	height : 80px;
	background :url("../resources/footer_bar.png") repeat-y center ;
	
}
/* ---------------------------------------------------------------- */

.root-container{
	height: 100%;
	min-height: inherit;
	width: 1320px;
    
    margin-left: auto;
    margin-right: auto;
}