@charset "UTF-8";

/*----reset---------------------*/
body{
	margin : 0px;
	font-family: 맑은 고딕, HY견고딕, Arial, sans-serif;
	color: #333333;
	font-weight: bold;
}

h1{
	margin : 0px;
}

ul{
	padding : 0px;
	margin : 0px;
}

li{
	display : block;
	/* border: 1px solid black; */
}

a{
	text-decoration: none;
	color : inherit;
}

p{
	margin:0;
	padding: 0;
}

/*-----------header-----------*/
#header{
	background: white;
	height : 70px;
	padding-top:10px;
}
	
	.root-container{
		width: 1680px;
		margin-left: auto;
		margin-right: auto;
	
	}

	#logo{
		height:65px;
		float: left;
		box-sizing: border-box;
	}
	
	#logo > img{
		height:65px;
	}
	.main-menu{
		font-size: 20px;
		margin-top: 25px;
		margin-left: 150px;
	}
	
	.main-menu > ul{
		overflow: auto;
		display: inline-block;
		
	}
	.main-menu > ul > li{
		float: left;
		padding-left: 24px;
		background: url("../images/bg-main-menu-vsp.png") no-repeat 13px center;
	}
	
	.member-menu{
		margin-top: 35px;
		float: right;
	}
	
	.member-menu > ul{
		overflow: auto;
		display: inline-block;
		
	}
	
	.member-menu > ul > li{
		
		padding-left: 10px;
		font-family: 맑은 고딕, HY견고딕, Arial, sans-serif;
		font-size:13px;
			
	}
	
	.mypageBtn{
		
	}

/*-----------body-----------*/
#body{
	margin: 0 auto;
	width : 1680px;
	height: 880px;
	border-top: 5px solid #ff5959;
	
}

/*----horizonal Menu----------*/
.hor-menu{
	display: inline-block;
}

		.hor-menu > ul{
			overflow : auto;
			display : inline-block;
		}
		
		.hor-menu > ul > li{
			float : left;
		}
		
		.hor-menu.first-pad-none > ul > li:first-child{
			padding-left : 0px !important;
			background : none !important;
		}
		
		
/*----submain---------------------------------*/

#sub-main{
	background: #cacaca;
	float:left;
	width: 330px;
	height: 880px;
}

/*----탭5개---------------------------------*/
#tab{
	background: orange;
	float: left;
	width: 90px;
	height: 650px;
	background: #cacaca;
	
}

	#tab li{
		width:90px;
		height: 90px;
		margin-bottom: 20px;
	}
	
	#search-btn{
			background: url("../images/search.png") no-repeat center;
			background-size:50%;
			text-align: center;
		}
		
		#wishbox-btn{
			background: url("../images/shopping.png") no-repeat center  #efefef;
			background-size:50%;
			text-align: center;
		}
		
		#cost-btn{
			background: url("../images/korea-won.png") no-repeat center;
			background-size:50%;
			text-align: center;
		}
		
		#review-btn{
			background: url("../images/calendar.png") no-repeat center;
			background-size:50%;
			text-align: center;
		}
	
	#save li{
		margin-top:370px;	
		background:url("../images/save.png") no-repeat center, black;
		background-size:50%;
		text-align: center;
		color: white;
	}
/*----search정보창---------------------------------*/
#search{
	float: left;
	width: 240px;
	min-height: 880px;
}
	/*----여행이름/기간---------------------------------*/
#travel-dayname{
	background: #c0c0c0;
	width: 240px;
	height: 90px;
}
	#travelName{
		height: 50px;
	}
	
	#travelDay{
		height: 40px;
	}
	/*----검색창+필터+정보---------------------------------*/
#search-box{
	/* border: 1px solid black; */
	background: #efefef;
	padding: 15px 15px;
	width:240px;
	height: 700px;
	box-sizing: border-box;
}

	#button-box{
		margin-top: 30px;
		display: flex;
		justify-content: space-around;
	}
	#button-box::after{
		content="";
		display: block;
		clear: both;
		overflow: hidden;
	}
	
			.btn{
			width: 80px;
			height: 40px;
			float: left;
			text-align: center;
			border: 1px solid black;

		}
		
	#searched-content{
		margin-top:30px;
		background: #f1f1f1;
		width:210px;
		min-height : 400px;
	}
	
		.searched-result{
			background: #cfcfcf;
			margin: 0px;
			width: 210px;
			height: 150px;
			/* border: 1px solid black; */
			overflow: auto;
		}
		
		.searched-pic{
			border:1px solid black;
			float:left;
			width:90px;
			height:100px;			
			margin-top:20px;
			margin-left: 10px;
		}
		
		.searched-info{
			border:1px solid black;
			float:right;
			width:90px;
			height:100px;	
			margin-right: 10px;
			margin-top: 20px;		
		}

/*----main-----------------------------------------------------------------------*/
#main{
	width : 1350px;
	float: left;
	
}

/*------map---------*/
#map{
	height: 650px;
	/* overflow: auto; */
	background:url("../images/google-map.png") no-repeat center;
	background-size:cover;
}

	#map-layer{
		background: #636363;
		float: right;
		width: 120px;
		min-height: 70px;
	}

	#map-frienddisplay{
		background: #636363;
		float: right;
		width: 50px;
		height: 50px;
	}
	
	#map-friendadd{
		float: right;
		background: url("../images/add-friends.png") no-repeat center;
		background-size:cover;
		height: 80px;
		width: 80px;
		margin-top: 10px;
		margin-right: 10px;
	}
	
	#map-right{
		width: 90px;
		height: 200px;
		margin-left: 1250px;
	}
	
	#check-map{
		float: right;
		opacity:.2;
		border:1px solid black;
		background:#ababab;
		height:150px;
		width: 80px;
		border-radius: 80px;
		margin-left: 30px;
		margin-top: 180px;
		}

	#check-map:hover{ 
			opacity: 1;
			font-size: x-large;
		}
		
	.up{
			width:inherit;
			min-height:50px;
			background: url("../images/direction-up.png") no-repeat center;
			background-size:50%;
			opacity:0.5;
		}
		
		
	.center {
		   width: 80px;
		   height: 50px;
		   line-height: 40px;
		   display: block;
		   text-align: center;
		   background: #ffdd00;
			/* width:inherit;
			height:50px;
			line-height: 100px; */
		}

	.down{
		width:inherit;
		min-height:50px;
		background: url("../images/direction-down.png") no-repeat center;
		background-size:50%;
		opacity:0.5;
	}

/*----table---------------------------------*/
#table{
	background: #c0c0c0;
	height: 230px;
	overflow: hidden;
}

/*------table control---------*/
#table-control{
	/*border: 1px solid black;*/
	float: left;
	width: 200px;
	height: 230px;
	display: inline-block;
	overflow: auto;
	background: #7c7c7c;
}
	#control-date{
		/* border: 1px solid black; */
		text-align: center;
	    line-height: 30px;
	    box-sizing: border-box;
	    width: 200px;
	    height: 40px;
	    clear: both;
	    float: left;
	    background: white;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #ff7b7b;
	    border-image: initial;
	}
	
	#control-day{
		/* border: 1px solid black; */
		width: 120px;
	    height: 40px;
	    float: left;
	    text-align: center;
	    box-sizing: border-box;
	    font-size: x-large;
	    background: rgb(249, 249, 249);
	    border-left: 1px solid black;
	    border-top: 1px solid black;
	    border-right: 1px solid black;
	}
	#button{
		display: flex;
	}
	#control-leftbtn{
		/* border: 1px solid black; */
		background: url("../images/left-arrow.png") no-repeat center;
		background-size: cover;
		width: 40px;
		height: 40px;
	}
	
	#control-rightbtn{
		background: url("../images/right-arrow.png") no-repeat center;
		background-size: cover;
		width: 40px;
		height: 40px;
	}
	
	#control-dayadd{
		/* border: 1px solid black; */
		margin-left: 20px;
	    margin-bottom: 5px;
	    color: white;
	    margin-top: 10px;
	    box-sizing: border-box;
	    text-align: center;
	    width: 160px;
	    height: 40px;
	    float: left;
	    padding-top: 7px;
	    border-radius: 20px;
	    background: rgb(230, 76, 60);
	}
	
	#control-daydelete{
		margin-left: 20px;
	    margin-bottom: 5px;
	    color: white;
	    padding-top: 7px;
	    box-sizing: border-box;
	    text-align: center;
	    width: 160px;
	    height: 40px;
	    float: left;
	    border-radius: 20px;
	    background: black;
	}
	
	#control-alldelete{
		margin-left: 20px;
	    color: white;
	    padding-top: 7px;
	    box-sizing: border-box;
	    text-align: center;
	    width: 160px;
	    height: 40px;
	    float: left;
	    border-radius: 20px;
	    background: black;
	}
	
/*------table timeline---------*/
.table-planFrame{
		height: 230px;
		width: 800px;
		float: left;	
		overflow-y: scroll;
	}
	
			.table{
				border-spacing: 0;
				text-align: center;		
			}
		
			.table-planFrame td{
				height: 50px;
				border: 1px solid black;
			}
			
			.table-planFrame .table-time{
				width: 80px;
			}
			
			.table-planFrame .table-spot{
				width: 380px;
			}
			.table-planFrame .memo-pad{
				width: 360px;
			}
		
		
	


/*------table info---------*/
#table-info{
	border: 1px solid black;
	float: left;
	width: 340px;
	min-height: 230px;
	display: inline-block;
}
	#info-weather{
		/* border: 1px solid black; */
		background: #c0c0c0;
		height: 170px;
	}
	
	#info-emergency{
		/* border: 1px solid black; */
		background: #979797;
		height: 60px;
	}

/* .clear-fix::after{
	content: "안녕하세용!";
	display : block;
	clear : both;
	height : 0px;
	overflow : hidden;
} */